* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}

$neu_grey1_col: #4B4B4B;
$neu_grey2_col: #959595;
$sec_col: #02133C;
$btn_dark_col: #C40B0B;
$btn_light_col: #E30B0B;

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.section {
    width: 1440px;
    margin: 0 auto;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

/* ------------------- intro ------------------- */
.section__intro {
    padding-top: 28px;
    min-height: 800px;
    background: url(../assets/1-intro/back.png) no-repeat;
}

.header {
    min-height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #fff;
}

.header__logo {
    display: flex;
    align-items: center;

    img {
        margin-right: 11px;
    }
}

.header__contacts {
    width: 610px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.contacts__hours,
.contacts__phone {
    display: flex;
}

.container__icon {
    margin-right: 10px;
    height: 100%;
}

.button {
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;

    .button_left,
    .button_right {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button_left {
        width: 168px;
        background-color: $btn_dark_col;
    }

    .button_right {
        position: relative;
        width: 43px;
        background-color: $btn_light_col;

        &:before {
            content: '';
            position: absolute;
            left: -14px;
            width: 20px;
            height: 100%;
            transform-origin: bottom left;
            transform: skewX(-20deg);
            background-color: $btn_light_col;
            z-index: 100;
        }
    }
}

.nav {
    min-height: 60px;
    margin-bottom: 126px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.nav__navbar {
    width: 556px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>a {
        font-size: 14px;
        font-weight: 700;
        color: $sec_col;

        img {
            transform: translateY(-25%);
        }
    }
}

.nav__icons {
    display: flex;
}

.icons__search {
    margin-right: 22px;
}

.icons__basket {
    position: relative;

    .icons__basket_num {
        position: absolute;
        z-index: 1000;
        right: 0;
        top: 0;
        transform: translate(50%, -30%);
        
        width: 16px;
        height: 16px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        font-size: 10px;
        color: #fff;
        background-color: $btn_dark_col;
    }
}

.title {
    width: 583px;
    margin-bottom: 48px;
    display: flex;

    h1 {
        font-size: 56px;
        font-weight: 900;
        color: #fff;
        line-height: 56px;
    }
}
/* ----------------- ./intro ------------------- */